<div class="w-full py-12 flex justify-center ">
    <div class="relative w-full max-w-10/12 bg-stone-900 rounded-2xl overflow-hidden">
  
      <!-- Fondos decorativos -->
      <div class="absolute inset-0 z-10 pointer-events-none">
        <img
          src="/Pinturaroja.png"
          class="absolute -left-10 -top-10 w-32 md:w-48 lg:w-56"
          alt=""
        />
  
        <img
          src="/Pinturaazul.png"
          class="absolute -right-10 -top-10 w-40 md:w-64 lg:w-80"
          alt=""
        />
      </div>
  
      <!-- Contenido -->
      <div
        class="relative z-50 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-8 md:px-30 md:py-15"
      >
  
        <!-- Item -->
        <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4  text-white text-center sm:text-left">
          <div class="w-16 shrink-0">
            <img src="/seach.svg" alt="" class="w-full" />
          </div>
  
          <div>
            <h3 class="uppercase text-lg md:text-xl font-medium mb-2">
              Enfoque estratégico
            </h3>
  
            <p class="text-sm md:text-base text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maxime, in.
            </p>
          </div>
        </div>
  
        <!-- Item -->
        <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4 text-white text-center sm:text-left">
          <div class="w-16 shrink-0">
            <img src="/seach.svg" alt="" class="w-full" />
          </div>
  
          <div>
            <h3 class="uppercase text-lg md:text-xl font-medium mb-2">
              Equipo especializado
            </h3>
  
            <p class="text-sm md:text-base text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maxime, in.
            </p>
          </div>
        </div>
  
        <!-- Item -->
        <div class="flex flex-col sm:flex-row items-center sm:items-start gap-4 text-white text-center sm:text-left">
          <div class="w-16 shrink-0">
            <img src="/seach.svg" alt="" class="w-full" />
          </div>
  
          <div>
            <h3 class="uppercase text-lg md:text-xl font-medium mb-2">
              Resultados medibles
            </h3>
  
            <p class="text-sm md:text-base text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maxime, in.
            </p>
          </div>
        </div>
  
      </div>
    </div>
  </div>