---
---

<div class="w-full h-auto py-12 flex items-center justify-center">

    <div class="w-10/12 min-h-50 bg-stone-900 flex rounded-2xl">

        <div class="w-8/12 min-h-50 mx-auto flex flex-col  justify-center text-left px-6">

            <h3 class="text-white text-3xl font-bold">
                ¿Listo para llevar <br>
                tu marca al <span class="text-red-600">siguiente nivel?</span>
            </h3>

            <p class="text-gray-300 mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Error quae mollitia officia voluptates laborum eius tempora
                veniam at voluptate, ratione dolore nam ullam rerum facere
                quod deleniti laudantium provident magnam.
            </p>

        </div>

        <div class="w-4/12 h-50 flex items-center justify-center ">
        
<button class="bg-red-700 p-5 flex text-white rounded-xl "  >


    <span class=" font-bold uppercase">Hablemos de tu proyecto</span>
          
    <svg xmlns="http://www.w3.org/2000/svg"

         width="20"
         height="20"
         viewBox="0 0 24 24"
         fill="none"
         stroke="currentColor"
         stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round">
      <path d="M5 12h14"/>
      <path d="m12 5 7 7-7 7"/>
    </svg>


</button>

        </div>

    </div>

</div>