---
import Boxservicios from "./Boxservicios.astro"
---

<div class="w-full h-auto flex flex-col justify-center items-center">


    <div class="w-10/12 h-auto  flex flex-col lg:flex-row  justify-center items-center gap-6">
    

        <div class="lg:w-4/12  h-auto"><Boxservicios titulo="content series"
            descripcion="Creamos series de contenido estratégico que conectan con tu audiencia y posicionan tu marca."
            icon="../../public/seach.svg"
            url="/servicios/contentseries/"
            imagen="https://i.pinimg.com/736x/f2/c2/02/f2c2024d7caae84af248f6b77e82cb3b.jpg"
            ></div>

        
        <div class="lg:w-4/12  h-auto">
            <Boxservicios titulo="podcast corporativo"
            descripcion="Producimos podcasts corporativos que fortalecen tu voz de marca y generan cercanía con tu audiencia."
            icon="../../public/seach.svg"
            url="/servicios/podcastcorporativo/"
            imagen="https://i.pinimg.com/736x/16/f5/4d/16f54dde373db911a8a0f1035e910a1a.jpg"
            >    
        
        </div>

        
        <div class="lg:w-4/12   h-auto">
            
            <Boxservicios titulo="transmisiones y coberturas"
            descripcion="Cubrimos tus eventos en vivo con transmisiones profesionales que llegan a tu audiencia donde sea que esté."
            icon="../../public/seach.svg"
            url="/servicios/transmisionescoberturas/"
            imagen="https://i.pinimg.com/736x/2f/79/e7/2f79e70c4fae5fe4c4d542a6b9d409bd.jpg"
            >
        </div>

    

    

    

        





    </div>

<br> 
    


    
    


</div>



<div class="w-full h-auto flex flex-col justify-center items-center">


    <div class="w-10/12 h-auto  flex flex-col lg:flex-row  justify-center items-center gap-6">
    
        
        <div class="lg:w-4/12  h-auto">
            <Boxservicios titulo="producción audiovisual"
            descripcion="Creamos contenido audiovisual de alta calidad que comunica el mensaje de tu marca con impacto."
            icon="../../public/video.svg"
            url="/servicios/produccionaudiovisual/"
            imagen="https://i.pinimg.com/736x/dc/e9/a7/dce9a75667b374cabb519511a42128e8.jpg"
            >
            
        </div>

        
        <div class="lg:w-4/12  h-auto">
            <Boxservicios titulo="estrategia de comunicación"
            descripcion="Diseñamos estrategias de comunicación claras y efectivas que alinean tu mensaje con tus objetivos."
             icon="../../public/video.svg"
            url="/servicios/estrategiacomunicacion/"
            imagen="https://i.pinimg.com/736x/e1/d6/10/e1d610fabb99482c968505844235566e.jpg"
            >    
        </div>

        
        <div class="lg:w-4/12  h-auto">
            <Boxservicios titulo="marketing de contenidos"
            descripcion="Creamos series de contenido estratégico que conectan con tu audiencia y posicionan tu marca."
             icon="../../public/video.svg"
            url="/servicios/marketingcontenidos/"
            imagen="https://i.pinimg.com/736x/31/d2/61/31d26119d7aef00e8d8b36f32cf5661b.jpg"
            >    
        </div>


    

    </div>

    
<br> 


    <div class="w-10/12 h-auto flex lg:flex-row flex-col justify-center items-center  gap-6"></div>


    
    


</div>



<div class="w-full h-auto flex flex-col justify-center items-center">


    <div class="w-10/12 h-auto flex lg:flex-row flex-col justify-center items-center gap-6">
    
    

        <div class="lg:w-4/12  h-auto">
            
            <Boxservicios titulo="dossiers estratégicos"
            descripcion="Elaboramos dossiers estratégicos que presentan tu marca con claridad, solidez y profesionalismo."
             icon="../../public/video.svg"
            url="/servicios/dossiersestrategicos/"
            imagen="https://i.pinimg.com/webp/736x/9d/30/63/9d3063e757db0d36f0e4b7b794d49874.webp"
            >
        </div>

        
        <div class="lg:w-4/12  h-auto">
            <Boxservicios titulo="desarrollo web"
            descripcion="Desarrollamos sitios web modernos, rápidos y a la medida de las necesidades de tu negocio."
            icon="../../public/video.svg"
            url="/servicios/desarrolloweb/"
            imagen="https://i.pinimg.com/736x/bd/61/59/bd615988af61ed3cf812770e72da1c85.jpg"
            >
        
        </div>

        
        <div class="lg:w-4/12  h-auto">
            <Boxservicios titulo="desarrollo de aplicaciones"
            descripcion="Creamos aplicaciones a medida que resuelven problemas reales y mejoran la experiencia de tus usuarios."
            icon="../../public/video.svg"
            url="/servicios/desarrolloaplicaciones/"
            imagen="https://i.pinimg.com/webp/736x/92/f8/84/92f8842de3afbdbb2bf40aec32b7a176.webp"
            >
        </div>


    

    </div>


    <div class="w-10/12 h-auto flex lg:flex-row flex-col justify-center items-center  gap-6"></div>


    
    


</div>



<br>

<div class="w-full h-auto flex flex-col justify-center items-center">


    <div class="w-10/12 h-auto  flex lg:flex-row flex-col justify-center items-center gap-6">
    
        <div class="lg:w-4/12  h-auto">
            <Boxservicios titulo="posicionamiento seo"
            descripcion="Optimizamos tu presencia digital para que tu marca sea encontrada por las personas correctas."
             icon="../../public/video.svg"
            url="/servicios/posicionamientoseo/"
            imagen="https://i.pinimg.com/736x/72/eb/06/72eb0622cbdc2a08a68ed24167d4b780.jpg"
            >
        </div>

        
        

    </div>

<br> 
    <div class="w-10/12 h-auto flex lg:flex-row flex-col justify-center items-center  gap-6"></div>


    
    


</div>


