<div class="column-wrapper">
	<div class="columns">
		<div class="column up">
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/d3/62/4c/d3624c29-966b-bf96-f1bb-d0e8f7834ad9/075679860507.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/c4/f1/86/c4f186ea-1742-5e73-64c7-9179fc4b8566/00602557652536.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/b2/01/ac/b201ac0a-d696-7e94-9133-5d0160adb847/075596059527.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/96/ca/d9/96cad926-25e5-7331-1fde-4d1fac8b6542/00602547138330.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/8f/f0/88/8ff088ee-bd18-8a27-1bb6-c0e44ad91cb6/603497862542.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/8f/e7/f4/8fe7f417-d464-8879-b00e-3d4965a9cfd1/075596062329.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/88/90/0d/88900ddb-b23e-c1e6-8147-20eb92340076/081227397128.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/88/13/c7/8813c795-1794-e1a0-bea6-79e01866d98b/00602577302473.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/86/48/e8/8648e899-5a8e-e3e3-cf94-a4580e933113/634164609528.png/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/7e/de/d1/7eded170-9703-ae08-90c0-dd7c19c2bcac/00602537945665.rgb.jpg/600x600bb.jpg)"></div>
		</div>
		<div class="column down">
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/f3/22/7f/f3227fd3-758e-2728-7db2-25b29373c8ae/18UMGIM35635.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/cc/86/10/cc861044-0537-0de4-4389-dceec0c13b96/06UMGIM44799.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/93/8f/b3/938fb30c-3a2f-da38-091f-6bd3e1f56239/196871490559.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/77/10/bd/7710bdd0-898f-b81e-a042-af634fba1b42/886449683864.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/68/d3/13/68d31343-dbc6-fae0-c633-3ddcbd105f3a/190295420291.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/64/99/09/6499090c-1112-37e2-e15f-9ddcbeffe408/06UMGIM12596.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/63/5d/30/635d3043-6db7-3a21-269c-edbcfac4a82f/190295449360.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/f1/0c/87/f10c873d-cad5-91d7-1106-f9c90a414ad1/Blueface_CardiB_Thotiana_REMIX_3000px.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/f0/c7/c8/f0c7c8f4-4319-d357-ddaf-566ef8e2194e/081227979379.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/de/b4/76/deb4760b-1733-d09f-8ab5-3da9381d5080/093624913214.jpg/600x600bb.jpg)"></div>
		</div>
		<div class="column up">
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music71/v4/17/9f/fa/179ffa90-74cd-0afa-2c6e-5c166b7cd1c3/dj.vnurtdjw.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music6/v4/05/00/9a/05009a8e-8d49-aa3d-4efb-379bb08d1be0/825646056149.jpg/600x594bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music42/v4/95/f1/c4/95f1c441-ede8-0664-7e24-f1a41d34c543/mzm.koektvmi.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music4/v4/9d/09/c2/9d09c206-1f44-d377-764d-1ba8824892b1/alternatecover-1397075998.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music30/v4/9a/cf/6e/9acf6e25-0e06-f951-2ff8-1f4affe25977/190295930332.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music3/v4/fa/e4/27/fae42799-8e07-e6c2-5122-c757a44fe707/825646054602.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music3/v4/ef/5b/1e/ef5b1e90-4b3a-851e-b67f-9f2ef62ab49c/dj.kazvtdrb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music3/v4/bd/55/22/bd552237-7603-5433-f422-f2b24f5aaf74/dj.lniwvqza.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/f3/bd/d7/f3bdd72b-c168-1a29-eee2-58b5bce0574c/19UMGIM75745.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/b7/e5/23/b7e52326-6c54-d20b-8640-02dc563d0e87/24UMGIM83915.rgb.jpg/600x600bb.jpg)"></div>
		</div>
		<div class="column down">
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/55/79/a1/5579a159-6b89-3582-22bf-afcd2ce8c269/4550709866767_cover.png/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/4a/39/44/4a3944b0-9e31-6d99-a7e6-b81ee3121a04/artwork.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/23/de/55/23de5501-2c54-6c14-c28b-71244ac9700e/075679620378.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music2/v4/c8/68/ba/c868ba52-7de4-d7a4-f0d2-1a99e244cc40/081227967468.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music2/v4/b7/b1/5a/b7b15a8e-bf61-11be-4a64-cde4904c5daa/603497214266.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music128/v4/db/c8/18/dbc81818-0fd7-6562-db3d-03a2acfc263b/795c4f9c-2edb-43f2-8ff1-557cf880c839.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music128/v4/93/f3/2c/93f32c4e-83e5-ce7e-7230-d0a520bf4572/00602527314730.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music128/v4/68/25/88/68258891-c9c0-9cf3-dbc9-612d7503e27f/00602537945719.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music128/v4/29/04/54/29045471-99d1-4b95-052e-412ef4cbb6d9/00602537945863.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/f3/dd/7a/f3dd7a5a-32e2-d08f-3ca7-a9a84b699d7c/107091.jpg/600x600bb.jpg)"></div>
		</div>
		<div class="column up">
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/aa/a2/3f/aaa23fdf-bbc7-fce4-662d-b91e6ce1080e/16336.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/5b/25/d9/5b25d98e-3734-a7fd-c198-69ffd088d10f/24UMGIM94240.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/56/b5/42/56b5424d-a1b7-1a42-f1d5-851f88ac2678/199999475446.png/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/0e/5a/da/0e5ada8d-046b-2685-3a81-8160eaa54f5f/093624831402.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/08/a8/7a/08a87a4a-17bf-cbba-b3a3-36b27ad840a0/14UMGIM33739.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/fb/08/42/fb0842b6-da12-f856-2bc7-fe8029dc80c2/093624856634.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/b8/b1/75/b8b17515-d782-a739-69d8-7b703465595e/093624841845.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/a0/76/3b/a0763be3-8a5a-2a1a-8490-e78d29a85725/14UMGIM33737.rgb.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/94/d2/ba/94d2bacf-07d7-df79-24a3-7fbf5207c848/081227981303.jpg/600x600bb.jpg)"></div>
			<div style="background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/69/21/cf/6921cff3-7074-118a-ece2-4012450e6c75/093624839811.jpg/600x600bb.jpg)"></div>
		</div>
	</div>



<style>
	:root {
	  --column-height: 600px;
	  --image-height: 200px;
	  --row-gap: 8px;
	  --column-gap: 8px;
	}
	
	.column-wrapper {
	  width: 100%;
	  max-width: 1200px;
	  height: 920px;
	  margin-top: -150px;
	  margin-left: 20px;
	  overflow: hidden;
	  perspective: 1000px;
	  position: relative;
	}
	
	.columns {
	  position: absolute;
	  width: 160%;
	  left: 10%;
	  top: -200px;
	
	  display: grid;
	  grid-template-columns: repeat(5, 1fr);
	  gap: var(--column-gap);
	
	  transform:
		rotateX(45deg)
		rotateY(20deg)
		rotateZ(-25deg);
	
	  transform-style: preserve-3d;
	}
	
	.column {
	  display: flex;
	  flex-direction: column;
	  gap: var(--row-gap);
	}
	
	.column > div {
	  height: var(--image-height);
	  border-radius: 14px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  flex-shrink: 0;
	}
	
	.column:nth-child(1),
	.column:nth-child(4) {
	  padding-top: 100px;
	}
	
	.column:nth-child(2),
	.column:nth-child(5) {
	  padding-top: 50px;
	}
	
	@keyframes imageScrollingUp {
	  from {
		transform: translateY(0);
	  }
	
	  to {
		transform: translateY(-50%);
	  }
	}
	
	@keyframes imageScrollingDown {
	  from {
		transform: translateY(-50%);
	  }
	
	  to {
		transform: translateY(0);
	  }
	}
	
	.up {
	  animation: imageScrollingUp 25s linear infinite;
	}
	
	.down {
	  animation: imageScrollingDown 25s linear infinite;
	}
	
	@media (max-width: 768px) {
	  .column-wrapper {
		margin-top: -50px;
		margin-left: -00px;
		
		height: 400px;
	  }
	
	  .columns {
		grid-template-columns: repeat(3, 1fr);
		width:200%;
		left: 100%;
	  }
	
	  .column > div {
		height: 140px;
	  }
	}
	</style>