<section>
    <div class="w-full h-150 rounded-lg flex flex-col md:flex-row items-center justify-center mb-20 reveal-on-scroll">
  
      <!-- Texto -->
      <div class="w-full md:w-6/12 flex justify-center items-center">
        <div class="p-6 md:p-10">
  
          <span class="text-red-700 text-lg md:text-2xl font-semibold uppercase">
            El problema
          </span>
  
          <h2 class="text-3xl md:text-5xl lg:text-6xl mt-3 leading-tight">
            Muchas organizaciones tienen un gran producto pero nadie habla de ellas.
          </h2>
  
          <p class="text-lg md:text-2xl mt-5 text-slate-800 dark:text-slate-200">
            No conectan con su audiencia, no convierten sus fortalezas en resultados y su mensaje se pierde entre tanto ruido.
          </p>
  
        </div>
      </div>
  
      <!-- Tarjeta -->
      <div class="w-full md:w-6/12 flex justify-center items-center mt-10 md:mt-0">
  
        <div class="w-11/12 h-auto md:w-10/12 shadow-xl rounded-lg p-6 flex flex-col md:flex-row gap-6">
  
          <!-- Imagen -->
          <div class="w-full md:w-3/12 flex justify-center">
            <img
              src="/people.svg"
              alt=""
              class="dark:invert w-24 md:w-full"
            />
          </div>
  
          <!-- Número y texto -->
          <div class="w-full md:w-9/12 flex flex-col items-center justify-center text-center">
            <span class="text-6xl md:text-9xl text-red-700 font-bold">
              70%
            </span>
  
            <p class="text-base md:text-lg">
              Las demás empresas latinoamericanas presentan fallas en su comunicación.
            </p>
          </div>

          <div class="w-full md:w-5/12 flex justify-center">
            <img
              src="/sudamerica.svg"
              alt=""
              class="dark:invert w-24 md:w-full"
            />
          </div>
  
        </div>
  
      </div>
  
    </div>
  </section>